{# src/NetUniversity/PlatformBundle/Resources/views/Utilisateur/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h3>Hello {{user}} !</h3>

    <a href="/User/Publication">
    Voire mes Publications.
    </a>
  </body>
</html>