{% extends "NetUniversityPlatformBundle::layout.html.twig" %}   
{% block contenu %}

<div class="alert alert-warning alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4><i class="icon fa fa-warning"></i> Alert!</h4>
	{{ Error}}
</div>

{% endblock %}