{# src/OC/PlatformBundle/Resources/view/Publication/add.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Publication bien ajouté !</title>
  </head>
  <body>
    <h3>le nom est  {{Nom}} !</h3>
    <h3>le nom est  {{URL}} !</h3>  

  </body>
</html>